<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="org.jcryptool.thirdparty.jre.target"/>
<target name="JCrypTool RCP" sequenceNumber="41">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="false" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2019-09"/>
		<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.19.0.v20190903-0934"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.500.v20190907-0428"/>
		<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="3.11.500.v20190903-0934"/>
	</location>
</locations>
<launcherArgs>
<vmArgs>-Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
